{{ define "main" }}

<header class="breadCrumb">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="breadCrumb__title">{{ .Title }}</h3>
			</div>
		</div>
	</div>
</header>

<section class="section blog-page">
	<div class="container">
		<div class="row">
			{{ range .Paginator.Pages }}
			<div class="col-lg-4">
				<div class="blog-page__item">
					<div class="blog-page__item-thumb">
						{{ if .Params.featureImage }}
						<picture>
							<source srcset="{{ .Params.featureImage | absURL }}.avif" type="image/avif" alt="post-image">
							<img src="{{ .Params.featureImage | absURL }}.png" alt="post-image">
						</picture>
						{{ end }}
					</div>
					<div class="blog-page__item-content bg-white">
						<span class="small">{{ .PublishDate.Format "January 2, 2006" }}</span>
						<h5 class="mb-0">
							<a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
						</h5>
					</div>
				</div>
			</div>
			{{ end }}
			{{ partial "pagination" .}}
		</div>
	</div>
</section>

{{ end }}