{{ define "main" }}

{{ partial "head.html" . }}

{{ $baseurl := .Site.BaseURL }}
<header class="breadCrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="breadCrumb__title">{{ .Title }}</h3>
                <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                    <ol class="breadcrumb align-items-center">
                        <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <section class="section blog-page">
                    <div class="container">
                        {{ $plural := .Data.Plural }}
                        {{ range $key, $value := .Data.Terms }}
                        <a href="{{ $baseurl }}/{{ $plural }}/{{ $key }}">{{ $key }}</a>
                        <br>
                        {{ end }}
                    </div>
                </section>
            </div>
        </div>
    </div>
</header>

<section class="section singleBlog">
  </section>

{{ end }}
