<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end}}">
  <!-- <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}Welcome to my world, you'll learn about my interests. SRE, DevOps, Security, functional programming and more{{ end }}"> -->
  <meta name="description"
    content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="dns-prefetch" href="https://assets.sycured.com">
  <link href="https://assets.sycured.com" rel="preconnect" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com" rel="preconnect" crossorigin>
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link href="https://cdnjs.cloudflare.com" rel="preconnect" crossorigin>
  <link rel="dns-prefetch" href="https://unpkg.com">
  <link href="https://unpkg.com" rel="preconnect" crossorigin>
  <link rel="dns-prefetch" href="https://static.cloudflareinsights.com">
  <link href="https://static.cloudflareinsights.com" rel="preconnect" crossorigin>
  <link rel="shortcut icon" href="https://assets.sycured.com/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="https://assets.sycured.com/images/favicon.png" type="image/x-icon" />
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a154283ff8cd48a4b27f4ad7ed6408fa"}'></script>
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | postCSS | minify }}
  {{ $styleSecure := $style | resources.Fingerprint "sha512" }}
  <link href="https://assets.sycured.com{{ $style.RelPermalink }}" rel="stylesheet" integrity="{{ $styleSecure.Data.Integrity }}" />
</head>
